
// ----- Partials  ----- //

@import "partials/_account";
@import "partials/_avatar";

@import "partials/_box";
@import "partials/_buttons";

@import "partials/_course";

@import "partials/_featured";
@import "partials/_forms";

@import "partials/_hero";

@import "partials/_login";


@import "partials/_navigation";
@import "partials/_messenger";

@import "partials/_progress";
@import "partials/_player";

@import "partials/_section";
@import "partials/_slide";

@import "partials/_tab";

@import "partials/_image";
