// ----- item ----- //
.item {

	display: block;
	overflow: hidden;

	// item border
	&--border {
 		border-bottom: 1px solid lighten($gray-light, 20%);

	&:last-child {
 			border-bottom: none;
 		}
	}
}

// ----- item + inverted-color----- //
.item.inverted-color {
	color: $white;
}
