// ----- Meta ----- //
.meta {
	font-size: $b-font-size-md;
	margin-bottom: #{$b-space-xs}px;
	color: $gray;

	&:last-child {
		margin-bottom: 0;
	}

	&--tag {
		font-weight: 700;
	}

	&--name {
		font-weight: 300;
	}

	// meta text
	&--text {
		color: $gray;
	}

	// meta link
	&--link {
		margin-right: #{$b-space-xs}px;
	}

	&--date {
		font-size: $b-font-size-sm;
	}
}

.meta-group {
	.meta {
		display: inline-block;
	}
}
