// -------------------------------------
//   BUTTONS
// -------------------------------------

.btn,
button.btn,
a.btn,
input[type="button"].btn
	cursor: pointer
	display: inline-block

	vertical-align: middle

	font-family: $font-family-primary

	text-transform: uppercase
	letter-spacing: 0.4px

	> .input
		border: 0

// ----- Button Grup ----- //
.btn-group
	.btn
		margin-right: -5px

// ----- Button Colors  ----- //
.btn--blue
	+button($blue, $white, $blue, solid, 1px)

.btn--blue-outline
	+button(transparent, $blue, $blue, solid, 1px)

.btn--dark
	+button($dark, $white, $dark, solid, 1px)

.btn--dark-outline
	+button(transparent, $dark, $dark, solid, 1px)

.btn--red
	+button($pink, $white)


// ----- Buttons Size  ----- //

.btn--md
	+font-size(14)
	font-weight: 700
	line-height: 1.3
	padding: 13px 30px

.btn--lg
	padding: 24px 40px
