// -------------------------------------
// COLORS
// -------------------------------------

// ----- Brand ----- //
$primary-color: blue

// ----- Palette ----- //
$blue: #00a0c9
$green: #00c8ae
$yellow: #ffd52a
$pink: #e44278
$grey: #848c90

$dark: #000000
$dark-blue: #006a86
$dark-green: #00907c
$dark-yellow: #dbb623
$dark-grey: #3e4244

$white: #f5f5f5
$light-grey: #becad0


// -------------------------------------
// GLOBAL VARIABLES
// -------------------------------------

// ----- Regular font family ----- //
$sans-family-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default

$baseline: 1em


// ----- Margin and Padding ----- //
$base-space: 16

// Extra small
$space-small: ($base-space / 4) * 1px

// Medium
$space-medium: ($base-space / 2) * 1px

// Large
$space-large: ($base-space * 2) * 1px

// Extra Large
$space-huge: ($base-space * 4) * 1px


// -------------------------------------
// CONTAINER's
// -------------------------------------

// Container small
// 40 * 16 = 640
$container-small: 40em

// Container medium
// 50 * 16 = 800
$container-medium: 50em

// Container large
// 75 * 16 = 1200
$container-large: 64em

// Container huge
// 75 * 16 = 1200
$container-huge: 75em


// -------------------------------------
// BREAKPOINTS
// -------------------------------------

// ----- Screen sizes ----- //

// Screen small
// 20 * 16 = 320px
$screen-small: 20em

// Screen medium
// 48 * 16 = 768px
$screen-medium: 48em

// Screen large
// 64 * 16 = 1024px
$screen-large: 64em

// Screen Large
// 75 * 16 = 1200px
$screen-huge: 75em

// Breakpoints maps
$breakpoints: ( small: $screen-small, medium: $screen-medium, large: $screen-large, huge: $screen-huge )

// -------------------------------------
// OTHERS
// -------------------------------------
// Relative or absolute URL where all assets are served from
// $base-url: 'http://example.com/assets/';
$base-url: '/assets/' !default