// -------------------------------------
//   GLOBAL
// -------------------------------------

// ----- Display  ----- //
.inline
  	display: inline

.inline-block
	display: inline-block;

.block
  	display: block

.none
	display: none;


// ----- Float  ----- //
.f-left
	float: left

.f-right
  	float: right;


// ----- Text ----- //
.align-center
	text-align: center

.align-left
	text-align: left

.align-right
  text-align: right

.align-justify
  text-align: justify

.uppercase
  text-transform: uppercase
