// -------------------------------------
//   GLOBAL
// -------------------------------------

// ----- Display  ----- //
.inline
	display: inline

.inline-block
	display: inline-block

.block
	display: block

.none
	display: none

// ----- Float  ----- //
.f-left
	float: left

.f-right
	float: right

// ----- Text  ----- //
.aline-center
	text-align: center

.aline-left
	text-align: left

.aline-right
	text-align: right

.aline-justify
	text-align: justify

.uppercase
	text-transform: uppercase
