//
///* ------------------------------------- */
///* 	Input
///* ------------------------------------- */
//
//// ----- Input Text ----- //
//[type="username"],
//[type="text"],
//[type="password"],
//[type="date"],
//[type="datetime"],
//[type="datetime-local"],
//[type="month"],
//[type="week"],
//[type="email"],
//[type="number"],
//[type="search"],
//[type="tel"],
//[type="time"],
//[type="url"],
//[type="color"],
//textarea {
//
//	font-family: FontAwesome;
//	color: lighten($gray, 30%);
//
//	border: 1px solid $l-border;
//	@include border-radius(5px);
//
//	padding: .85rem 1rem;
//
//  	display: block;
//  	box-sizing: border-box;
//
//  	width: 100%;
//  	margin: 0 0 1rem;
//  	background-color: $white;
//
//  	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
//
//	-webkit-appearance: none;
//	-moz-appearance: none;
//}
//
//[type="text"]:focus,
//[type="password"]:focus,
//[type="date"]:focus,
//[type="datetime"]:focus,
//[type="datetime-local"]:focus,
//[type="month"]:focus,
//[type="week"]:focus,
//[type="email"]:focus,
//[type="number"]:focus,
//[type="search"]:focus,
//[type="tel"]:focus,
//[type="time"]:focus,
//[type="url"]:focus,
//[type="color"]:focus,
//textarea:focus {
//	border: 1px solid lighten($blue,20%);
//	background: #fefefe;
//	outline: none;
//	box-shadow: 0 0 5px #cacaca;
//	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
//}
//
//textarea {
//  max-width: 100%;
//}
//
//textarea[rows] {
//	height: auto;
//}
//
//input:disabled,
//input[readonly],
//textarea:disabled,
//textarea[readonly] {
//  background-color: #e6e6e6;
//  cursor: default;
//}
//
//[type="submit"],
//[type="button"] {
//  border-radius: 0;
//  -webkit-appearance: none;
//  -moz-appearance: none; }
//
//input[type="search"] {
//  box-sizing: border-box; }
//
//[type="file"],
//[type="checkbox"],
//[type="radio"] {
//  margin: 0 0 1rem; }
//
//[type="checkbox"] + label,
//[type="radio"] + label {
//  display: inline-block;
//  margin-left: 0.5rem;
//  margin-right: 1rem;
//  margin-bottom: 0;
//  vertical-align: baseline; }
//
//label > [type="checkbox"],
//label > [type="label"] {
//  margin-right: 0.5rem; }
//
//[type="file"] {
//  width: 100%; }
//
//label {
//  display: block;
//  margin: 0;
//  font-size: 0.875rem;
//  font-weight: normal;
//  line-height: 1.8;
//}
//
//label.middle {
//	margin: 0 0 1rem;
//	padding: 0.5625rem 0;
//}
//
//.help-text {
//  margin-top: -0.5rem;
//  font-size: 0.8125rem;
//  font-style: italic;
//  color: #333;
//}
//
//.input-group {
//  display: table;
//  margin-bottom: 1rem;
//}
//
//.input-group-label,
//.input-group-field,
//.input-group-button {
//  display: table-cell;
//  margin: 0;
//  vertical-align: middle;
//}
//
//.input-group-label {
//  text-align: center;
//  width: 1%;
//  height: 100%;
//  padding: 0 1rem;
//  background: #e6e6e6;
//  color: #0a0a0a;
//  border: 1px solid #cacaca;
//}
//
//.input-group-label:first-child {
//	border-right: 0;
//}
//.input-group-label:last-child {
//	border-left: 0;
//}
//
//.input-group-button {
//  height: 100%;
//  padding-top: 0;
//  padding-bottom: 0;
//  text-align: center;
//  width: 1%;
//}
//
//.fieldset legend {
//	background: #fefefe;
//	padding: 0 0.1875rem;
//	margin: 0;
//	margin-left: -0.1875rem;
//}
//
//select {
//  height: 2.4375rem;
//  padding: .85rem 1rem;
//  border: 1px solid #cacaca;
//  border-radius: 0;
//  margin: 0 0 1rem;
//  font-size: 1rem;
//  font-family: inherit;
//  line-height: normal;
//  color: $gray-light;
//  background-color: $white;
//  @include border-radius;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
//  background-size: 9px 6px;
//  background-position: right 0.5rem center;
//  background-repeat: no-repeat;
//
//	min-width: 200px;
//}
//  @media screen and (min-width: 0\0) {
//    select {
//      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
//  select:disabled {
//    background-color: #e6e6e6;
//    cursor: default; }
//  select::-ms-expand {
//    display: none; }
//  select[multiple] {
//    height: auto; }
//
//.is-invalid-input:not(:focus) {
//  background-color: rgba(236, 88, 64, 0.1);
//  border-color: #ec5840; }
//
//.is-invalid-label {
//  color: #ec5840; }
//
//.form-error {
//  display: none;
//  margin-top: -0.5rem;
//  margin-bottom: 1rem;
//  font-size: 0.75rem;
//  font-weight: bold;
//  color: #ec5840;
//}
//
//.form-error.is-visible {
//  display: block;
//}
//
//
//
//// ----- Input Icon  ----- //
//// Username
//input[name="username"]::-webkit-input-placeholder::before {
//	font-family: fontAwesome; content:'\f007   ';
//}
//
///* Firefox 18- */
//input[name="username"]:-moz-placeholder {
//	font-family: fontAwesome; content:'\f007   ';
//}
//
///* Firefox 19+ */
//input[name="username"]::-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f007  ';
//}
//
//input[name="username"]:-ms-input-placeholder::before {
//	font-family: fontAwesome; content:'\f007 ';
//}
//
//
//// Email
//input[type="email"]::-webkit-input-placeholder::before {
//	font-family: fontAwesome; content:'\f0e0   ';
//}
//
///* Firefox 18- */
//input[type="email"]:-moz-placeholder {
//	font-family: fontAwesome; content:'\f0e0   ';
//}
//
///* Firefox 19+ */
//input[type="email"]::-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f0e0  ';
//}
//
//input[type="email"]:-ms-input-placeholder::before {
//	font-family: fontAwesome; content:'\f0e0 ';
//}
//
//
//// Password
//input[type="password"]::-webkit-input-placeholder::before {
//	font-family: fontAwesome; content:'\f069  ';
//}
//
///* Firefox 18- */
//input[type="password"]:-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f069  ';
//}
//
///* Firefox 19+ */
//input[type="password"]::-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f069  ';
//}
//
//input[type="password"]:-ms-input-placeholder::before {
//	font-family: fontAwesome; content:'\f069 ';
//}
//
//// Password
//input[type="search"]::-webkit-input-placeholder::before {
//	font-family: fontAwesome; content:'\f002  ';
//}
//
///* Firefox 18- */
//input[type="search"]:-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f002  ';
//}
//
///* Firefox 19+ */
//input[type="search"]::-moz-placeholder::before {
//	font-family: fontAwesome; content:'\f002  ';
//}
//
//input[type="search"]:-ms-input-placeholder::before {
//	font-family: fontAwesome; content:'\f002 ';
//}
//
//::-webkit-input-placeholder {
//   font-size: $b-font-size-sm;
//		margin-bottom: 3px;
//}
//
//:-moz-placeholder { /* Firefox 18- */
//  font-size: $b-font-size-sm;
//	margin-bottom: 3px;
//}
//
//::-moz-placeholder {  /* Firefox 19+ */
//  font-size: $b-font-size-sm;
//	margin-bottom: 3px;
//}
//
//:-ms-input-placeholder {
//  font-size: $b-font-size-sm;
//	margin-bottom: 3px;
//}
