/* ------------------------------------- */
/*   ANCHOR
/* ------------------------------------- */

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

/* ----- Anchor ----- */

.anchor {
	color: $blue;
}

.anchor.anchor--group {
    margin-right: #{$b-space}px;

    &:last-child {
        margin-right: 0;
    }
}
