/* ========================================================================== */
/*   COURSES
/* ========================================================================== */

.course-aside {
    width: 30%;
    background-color: darken($white, 5%);

    .g-box__item {
        border-bottom: 1px solid $l-border;

        &:first-child {
            border-top: 1px solid $l-border;
        }
    }

    .avatar {
      margin: #{$b-space}px 0;
    }
}

.course-main {
    width: 70%;
    position: relative;
    z-index: 2;
}

// ----- Courses ----- //
.courses {

    .title {
        text-transform: uppercase;
        margin-bottom: #{$b-space-xs}px;
        color: lighten($blue, 10%);
        margin-top: #{$b-space}px;
    }

    .subtitle {
        font-size: $b-font-size-sm;
        margin-top: 0;
        color: $gray;
        font-weight: 900;
    }
}

// ----- Courses Blocks ----- //
.courses--blocks {
    .courses__item {
        display: inline-block;
        float: left;
    }
}

// ----- Courses Lines ----- //
.courses--lines {
    .courses__item {
        display: inline-block;
        float: left;
    }
}

// ----- Player ----- //
.course-played {
    max-width: 800px;
    height: 450px;

    &__head {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

// ----- Courses Info ----- //
.course-info {
    position: relative;
    top: -80px;
}

// ----- Courses ----- //
.g-box {

    &__item {
        padding: #{$b-space}px;
    }

    .title {
        font-weight: 300;
        margin-bottom: #{$b-space-xs}px;
        color: lighten($blue, 10%);
    }

    .subtitle {
        font-size: $b-font-size-sm;
        font-weight: 800;
        margin-top: 0;
        color: lighten($gray, 20%);
    }
}

// ----- Courses Blocks ----- //
.g-box--block {
    .g-box__item {
        display: block;
        float: left;
    }
}

// ----- Courses Lines ----- //
.g-box--line {
    .g-box__item {

    }

    .title {
        margin: 0;
    }
}

.course-lesson {
    .title {
        font-size: $b-font-size-sm;
    }
}

/* COURSE LEARN */
.current-progress {
  position: relative;
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 24px;
}
.current-progress .percent {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 14px;
  color: #666;
}
.current-progress .progressbar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: lighten($gray, 40%);
  margin-top: 20px;
}
.current-progress .progressbar .progress-run {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #37abf2;
  -webkit-transition: all 1s linear 0.3s;
  -moz-transition: all 1s linear 0.3s;
  -ms-transition: all 1s linear 0.3s;
  -o-transition: all 1s linear 0.3s;
  transition: all 1s linear 0.3s;
}
.current-outline {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style: none;
}
.current-outline li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #666;
  float: left;
  margin-right: 25px;
}
.current-outline li span {
  font-weight: 700;
  font-size: 16px;
  color: #37abf2;
  margin-right: 3px;
}


.page-account {
    margin-bottom: #{$b-space-l}px;
    overflow: hidden;

    .course-main,
    .course-aside {
        min-height: 500px;
    }

    .courses__item {
        padding: #{$b-space}px;
        border: 1px solid #E3E3EC;
    }
}
