// ----- Dropdown  ----- //

.is--open .dropdown__menu {
	display: block;
}

.dropdown {
	font-weight: 500;
	font-size: $b-font-size-sm;
	z-index: 10;
	cursor: pointer;

	&__menu {
		display: none;
		position: absolute;
		right: 10%;
		background:  $white;
	}

	// ----- Dropdown Header ----- //
	&__header {
		line-height: 1.4;
	}

	// ----- Dropdown Menu ----- //
	&__menu {
//		.menu-content {
//			display: none;
//			background-color: $gray-highlight;
//
//			.item {
//				margin-left: $ * 2;
//				border: none;
//			}
//		}
	}

	// ----- Dropdown Footer ----- //
	&__footer {
		padding: $b-padding;
		color: $gray-light;

		.anchor {
			font-size: $b-font-size-sm;
			margin-right: 10px;
		}
	}

	.logout {
		position: absolute;
		right: 15px;
		bottom: 20px;

		a {
			color: $red;
		}
	}

	.item {
		border-top: 1px solid $c-border;
		padding: $b-padding - 5;

		&:last-child {
			border-bottom: 1px solid $c-border;
			margin-right: 0;
		}

		&:hover {
			background: $c-background;
		}

		a {
			display: block;
			color: $black-light;
			line-height: 1.4;
		}
	}
}
