.image-group {
    .image {
        display: inline;
        vertical-align: top;
     }
}

.image {
  overflow: hidden;
}

.image--square {
	border-radius: 50%
}

// image floated
.image--left {
  float: left;
	margin-right: 10px;
}

.image--right {
  float: right;
}

/* Image Size
========================================================================== */
.image--mini {
  max-width: 40px;
  width: 100%;
  height: auto;
}

.image--tiny {
    max-width: 45px;
    @extend .image--mini;
}

.image--tiny.image--square {
    height: 45px;
}

.image--small {
  max-width: 60px;
  @extend .image--mini;
}

.image--small.image--square {
  height: 60px;
}

.image--medium {
  max-width: 80px;
  @extend .image--mini;
}

.image--medium.square {
  height: 80px;
}

.image--large {
  max-width: 300px;
  @extend .image--mini;
}

.image--big {
  max-width: 600px;
  @extend .image--mini;
}

.image--huge {
  max-width: 800px;
  @extend .image--mini;
}

.image--massive {
  width: 960px;
  @extend .image--mini;
}

.image--fluid {
  display: block;
  width: 100%;
  height: auto;
}

.image--half {
  max-width: 48%;
  @extend .image--mini;
}

.image--borde-radius {
  @include border-radius(5px);
}
