// -------------------------------------
//   ICON
// -------------------------------------
.icon
	display: inline-block
	background-repeat: no-repeat
	cursor: pointer
	background-color: $dark

.icon--left
	margin-right: $space-xs


.icon--right
	margin-left: $space-xs

.icon--sm
	width: $space-sm
	height: $space-sm
	background-size: $space-sm

.icon--md
	width: 25px
	height: 25px
	background-size: 25px

.icon--lg
	width: $space-lg
	height: $space-lg
	background-size: $space-lg

.icon-instagram
	+background-image('instagram')

.icon-facebook
	+background-image('facebook')

.icon-twitter
	+background-image('twitter')

.icon-youtube
	+background-image('youtube')

.icon-spotify
	+background-image('spotify')

.icon-search
	+background-image('magnifying-glass')

.icon-arrow-down
	+background-image('arrow-down')

.icon-arrow-left
	+background-image('left-arrow')

.icon-arrow-right
	+background-image('right-arrow')

.icon-donwload
	+background-image('cloud-arrow-download')

.icon-arrow-up
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-bottom: 10px solid white

