/* ========================================================================== */
/*   TAGS
/* ========================================================================== */

.tag {
  border-radius: 50px;
  font-size: $b-font-size-sm;
  text-align: center;
  background: $green;
  color: $white;

  &--sm {
    padding: 5px 10px;
  }
}
