/* Extra small (Mobile, 320px and up) */
/* Small devices (tablets, 768px and up) */
/* Large devices (Widescreen, 1300px and up) */
/* ------------------------------------- */
/*  RESETS */
/* ------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/* ----- Margin and Padding ----- */
html,
body,
fieldset,
ul,
li {
  margin: 0;
  padding: 0; }

/* ----- Image ----- */
img {
  max-width: 100%;
  height: auto; }

/* ----- List ----- */
ul,
li {
  list-style-type: none; }

img,
button {
  border: none; }

/* ------------------------------------- */
/*  HTML5 display definitions */
/* ------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/* ------------------------------------- */
/*  LINKS */
/* ------------------------------------- */
a {
  background-color: transparent;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0;
    text-decoration: none; }

/* ------------------------------------- */
/*  FORMS */
/* ------------------------------------- */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: none; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

progress {
  width: 100%; }

.anchor {
  text-underline: none;
  display: inline-block;
  line-height: 1.5; }

input::-webkit-input-placeholder {
  font-size: 0.875em; }
input::-moz-placeholder {
  font-size: 0.875em; }
input::-moz-placeholder {
  font-size: 0.875em; }
input:-ms-input-placeholder {
  font-size: 0.875em; }

input[type="search"] {
  line-height: 1.8; }

.transition {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear; }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }
@-ms-keyframes slide-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }
@-o-keyframes slide-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }
@keyframes slide-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", Helvetica, Arial, sans-serif; }

p {
  font-size: 1em;
  line-height: 1.5; }

blockquote {
  margin-top: 0; }

p {
  color: #000; }

.text-gray {
  color: #848c90; }

.text-primary {
  color: blue; }

.text-sucess {
  color: #00c8ae; }

.text-error {
  color: #e44278; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.text-line-through {
  text-decoration: line-through; }

.text-oblique {
  text-style: oblique; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer; }

.list {
  overflow: hidden; }
  .list__item {
    font-size: 1em;
    line-height: 1.5;
    color: #848c90;
    margin-bottom: 10px; }

.tag {
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.85px;
  line-height: 0.875; }

.btn,
button.btn,
a.btn,
input[type="button"].btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.4px; }

.container, .wrapper {
  margin: 0 auto;
  max-width: 75em;
  width: 100%; }
  .container--medium {
    max-width: 50em; }
  .container--small {
    max-width: 40em; }

.row {
  font-size: 0; }

.row-no-gutter {
  margin-left: -1em;
  margin-right: -1em; }

.column {
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: center; }

@media only screen and (min-width: 992px) {
  .column {
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: top; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
.media .image {
  display: block;
  overflow: hidden;
  position: relative; }
  .media .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .media .image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.image-group .image {
  display: inline;
  vertical-align: top; }

.page-header {
  background-color: white; }
  .page-header__top {
    height: 60px;
    background-color: #becad0; }
    .page-header__top .search {
      position: absolute;
      top: 15px;
      width: 300px; }
      .page-header__top .search .input {
        display: none; }
    @media only screen and (min-width: 320px) {
      .page-header__top .logo {
        margin: 0 auto; }
      .page-header__top .search {
        display: none; } }
    @media only screen and (min-width: 992px) {
      .page-header__top .logo {
        margin: 0; }
      .page-header__top .search {
        display: block; } }

.page {
  font: +font-size(16)/1 "Hind", Helvetica, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
