// -------------------------------------
// BUTTONS
// -------------------------------------

.btn,
button.btn,
a.btn,
input[type="button"].btn
	cursor: pointer
	display: inline-block
	vertical-align: middle
	text-transform: uppercase
	letter-spacing: 0.4px

// Default button
// Primary button
// Visual button variations (success, warning, danger, etc.)
// Link or cancel button (looks like link but mimics button behavior)
// Subtle or quiet button
// Huge or extra large button
// Large button
// Small button
// Mini or tiny button
// Compact button (reduced padding)
// Block level or full width button
// Icon button (no text)
// Icon with text (not just inline)
// Disabled button
// Pill button
// Circular button
// Hidden text expansion button (...)
// Button with social count
// Grouped/joined buttons
// Conditional button groups ("Cancel or Save")
// Dropdowns
// Split button dropdowns
// Directional dropdowns ("dropups," for example)
// Switch (on/off) or toggle
// Large switch
// Hidden text button (ellipsis)
// Special button-specific animations (iconographic, etc.)
// Vertically-attached button
// Horizontally-attached button
// Floating action button
// Close button
// Buttonw ith alternative contrast