/* ------------------------------------- */
/*  CONTAINER
/* ------------------------------------- */

.container {
	margin: 0 auto;
}


/* ------------------------------------- */
/*  GRID SYSTEM
/* ------------------------------------- */

/* The Columns */
[class^="column-"] {
  float: left;
  padding: 0 $l-gutter;
}

/* The row */
.row {
  margin-left: -$l-gutter;
  margin-right: -$l-gutter;
}

.row:after {
  content: "";

  display: table;
  clear: both
}

/* Column widths  */
@for $i from 1 through $l-column-count {
  .column-#{$i} {
    width: ( 100 / $l-column-count ) * $i * 1%;
  }
}

/* Special Classes */
.column-full {
	width: 100%;
}
.column-third {
  width: (100 / 3) * 1%;
}

.column-two-thirds {
  width: (100 / 3) * 2%;
}

.column-half {
  width: (100 / 2) * 1%;
}

.column-quarter {
  width: (100 / 4) * 1%;
}

/* Responsive */
@media (max-width: $l-screen-lg) {
  [class^="column-"] {
    float: left;
    padding: 0 $l-gutter / 2;
  }

   /* The row */
	.row {
		margin-left: -$l-gutter;
    	margin-right: -$l-gutter;
  	}
}

@media (max-width: $l-screen-sm) {
  	[class^="column-"] {
    width: 100%;
    margin-bottom: $l-gutter;
}

  /* The row */
  .row {
    margin-left: -$l-gutter / 2;
    margin-right: -$l-gutter / 2;
  }
}
