/* ========================================================================== */
/*   PAGES
/* ========================================================================== */

/* ------------------------------------- */
/*  Page Modified
/* ------------------------------------- */

// ----- Page Single  ----- //
.page-single {
    .hero {
        margin-top: -#{$b-space}px;
        max-height: 460px;
        .hero__text--left {
            top: 70px;
            left: 0;
        }
    }
}

// ----- Page Home  ----- //
.page-home {

}

/* ------------------------------------- */
/*  Page Extruture
/* ------------------------------------- */

.page-main {
    // height: 100%;
    // position: relative;
    margin-top: #{$b-space}px;
}
