/* ========================================================================== */
/*   SIDEBAR
/* ========================================================================== */

.page-sidebar {
}

.page--sidebar--left {
	float: left;
}
.page--sidebar--right {
	float: right;
}


// ----- Skicky Aside  ----- //

.skicky-aside {
	background-color: red;

	.menu-content {
		max-height: 100px;
		overflow-x: scroll;
	}
}
