// -------------------------------------
//   FLOAT
// -------------------------------------

.f-l
	float: left

.f-r
	float: right


// -------------------------------------
//   TEXT ALIGN
// -------------------------------------

// text-align: center
.a-c
	text-align: center

// text-align: left
.a-l
	text-align: left

// text-align: right
.a-r
	text-align: right

// text-align: justify
.a-j
	text-align: justify

// text-transform: uppercase
.t-t-u
	text-transform: uppercase


// -------------------------------------
//   ANIMATION
// -------------------------------------

// ----- Transition ----- //
.transition
	@include transition

// ----- Animation Slide-in ----- //
@include keyframes(slide-in)
	0%
		opacity: 0
	90%
		opacity: 1
