
// -------------------------------------
//   	TYPOGRAPHY SIZES 
// -------------------------------------

// ----- Headings ----- //
h1,
h2,
h3,
h4,
h5,
h6
	font-family: $font-family-primary

p
	+font-size(16)
	+line-height(24)

blockquote
	margin-top: 0


// -------------------------------------
// 		TEXT COLORS
// -------------------------------------

// Default
p
	color: $dark

// Gray
.text-gray
	color: $grey

// Primary
.text-primary
	color: $primary-color

// Sucess
.text-sucess
	color: $sucess

// Error
.text-error
	color: $error


// -------------------------------------
//   TEXT MODIFIERS
// -------------------------------------

// ----- Text Align ----- //

// Center
.align-center
	text-align: center

// Right
.align-right
	text-align: right

// Justify
.align-justify
	text-align: justify


// ----- Text Transform ----- //

// Uppercase
.text-uppercase
	text-transform: uppercase


// ----- Text Decoration ----- //

.text-line-through
	text-decoration: line-through


// ----- Text Style ----- //

.text-oblique
	text-style: oblique

// .caption 
// .blockquote
// .pull-quote

//strong
//small
//italic

// Time or date
// Inline quotes (q)
// Inline labels
// Inline badges/counters (numeric)
// Inline badges/states (text)
// Inline tooltips (not interactive)
// Unarticulated non-textual annotation (u)
// White space characters