/* ========================================================================== */
/*   BOX
/* ========================================================================== */

// ----- Box ----- //
.box {
    background: white;
	@include box-shadow ($color: #E1E1FF);

    &--padding {
        padding: #{$b-space}px;
    }

    &--line-top {
        border-top: 1px solid #EAEAEA;
    }
}
