.login {
    padding: #{$b-space-l}px;

    .meta {
        margin-bottom: #{$b-space}px;
    }
}

.login--recover {
    max-width: 400px;
    position: relative;
    top: 100px;
    left: 50%;

    margin-left: -200px;

    .logo {
        margin: #{$b-space-s}px 0 #{$b-space-l}px 0;
        position: relative;
        margin-left: -70px;
        left: 50%;
    }

    .anchor {
        color: $gray;
    }

    .anchor.is--active {
        font-weight: 700;
        color: $blue;
    }

    .btn {
        margin-bottom: #{$b-space-l}px;
        width: 100%;
    }
}
