.payment {
	overflow: hidden;

	&__aside {
		background-color: $black-light;
		padding: $b-padding * 2;
	}

	&__main {
		background: $white;
	}

	&__title {
		color: $white;
		margin: 0;
	}

	&__product {
		margin: $ * 2 0 $ 0;
	}

	&__price {
		margin-bottom: $;

		span {
			margin-left: 5px;
			color: $white;
		}
	}

	&__other {

	}

	&__method {
		width: 100px;
		display: inline-block;
		margin-right: $;
		vertical-align: middle;

		input[type="radio"] {
			float: left;
			margin-top: 10px;
			width: 20px;
		}
	}

	.payment__header {
		padding: $b-padding;
	}

	&__card {
		width: 60px;
		margin-left: 10px;
		display: inline-block;
	}

	h3 {
		margin-bottom: $;
	}

	.anchor {
		&:hover {
			color: $green;
		}
	}

	.fieldset {
		&:last-child {
			margin-bottom: $;
		}
	}
}

.inverted-color {
	color: $white;
}

//_payment.scss
.wgt {
	h3 {
		margin: 0;
	}

	a {
		color: $gray;
	}
}

.controll {
	a {
		color: $gray;
	}
}

.controll__cell.a-center {
	font-weight: 700;
}
