/* ========================================================================== */
/*   SECTION
/* ========================================================================== */

.section {
	padding: #{$b-space}px;

	&__title {
		margin-bottom: #{$b-space}px;
		text-transform: uppercase;
	}
}
