/* Extra small (Mobile, 320px and up) */
@media (min-width: $l-screen-xs) {

    /* ------------------------------------- */
    /*   Base
    /* ------------------------------------- */

    /* ------------------------------------- */
    /*   Layout
    /* ------------------------------------- */
    .container {
        width: $l-container-xs;
    }

    /* ------------------------------------- */
    /*   Modules
    /* ------------------------------------- */

    // ----- Navigation ----- //
    .nav--bar {

    }

    // ----- Hero ----- //
    .hero {
        height: 320px;
    }

	// ----- Section ----- //
	.section {
		&__title,
		&__subtitle {
			max-width: 100%;
		}
	}

	// ----- Featured ----- //
	.featured {
		// course
		.courses__item {
			width: 100%;
			border-top: 1px solid $gray-light;
	        border-left: 1px solid $gray-light;
	        border-bottom: none;
			border-right: 1px solid $gray-light;

			&:last-child {
				border-bottom: 1px solid $gray-light;
			}
		}
	}

}

/* Small devices (tablets, 768px and up) */

@media (min-width: $l-screen-sm) {
	/* ------------------------------------- */
	/*  Base
	/* ------------------------------------- */
	/* ------------------------------------- */
	/*   Layout
	/* ------------------------------------- */
	.container {
		width: $l-container-sm;
	}

	/* ------------------------------------- */
	/*   Modules
	/* ------------------------------------- */

	.hero {
		height: 420px;
	}

	// ----- Section ----- //
	.section {

		&__title,
		&__subtitle {
			max-width: 60%;
		}
	}

	// ----- Featured ----- //
	.featured {
		// course
		.courses__item {
			width: 33.33333%;

			border-top: 1px solid $gray-light;
	        border-left: 1px solid $gray-light;
	        border-bottom: 1px solid $gray-light;
			border-right: none;

	        &:last-child {
	            border-right: 1px solid $gray-light;
	        }
		}
	}

	// ----- Login ----- //

	// ----- Payment ----- //

	// ----- Profile ----- //

}

/* Medium devices (desktops, 992px and up) */

@media (min-width: $l-screen-md) {
	/* ------------------------------------- */
	/*   Body
	/* ------------------------------------- */

	/* ------------------------------------- */
	/*   Layout
	/* ------------------------------------- */

	// ----- Header ----- //
	.page-header {

	}
	/* ------------------------------------- */
	/*   Section
	/* ------------------------------------- */
	.section {

	}

	/* ------------------------------------- */
	/*   Components
	/* ------------------------------------- */

	// ----- Hero  ----- //
	.hero {
		height: 520px;
	}

	// ----- Navigation  ----- //

	// ----- Payment ----- //

}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: $l-screen-lg) {
	/* ------------------------------------- */
	/*   BASE
	/* ------------------------------------- */
	html {
		font-size: $b-font-size-lg;
	}

	/* ------------------------------------- */
	/*   LAYOUT
	/* ------------------------------------- */

	.container {
		width: $l-container-lg;
		max-width: $l-maxWidth;
	}

	.page-header {

	}

	/* ------------------------------------- */
	/*   MODULES
	/* ------------------------------------- */


	// ----- Hero  ----- //
	.hero {
		height: 620px;
	}
}
