// ==========================================================================
// MIXIES GLOBAL
// ==========================================================================

// ----- border radius  ----- //
@mixin border-radius($radius: 50px) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-left-radius:   $radius;
  -moz-border-bottom-left-radius:      $radius;
  -ms-border-bottom-left-radius:       $radius;
  border-bottom-left-radius:           $radius;
  -webkit-border-bottom-right-radius:  $radius;
  -moz-border-bottom-right-radius:     $radius;
  -ms-border-bottom-right-radius:      $radius;
  border-bottom-right-radius:          $radius;
}

// ----- Transition  ----- //
@mixin transition ($prop: all, $time: 0.3s, $ease: linear) {
  -webkit-transition: $prop $time $ease;
  -moz-transition:    $prop $time $ease;
  -ms-transition:     $prop $time $ease;
  -o-transition:      $prop $time $ease;
  transition:         $prop $time $ease;
}

// ----- Box Shadow  ----- //
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: $gray-light) {
	-webkit-box-shadow: $horizontal $vertical $blur $color;
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-ms-box-shadow: $horizontal $vertical $blur $color;
	-o-box-shadow: $horizontal $vertical $blur $color;
	box-shadow: $horizontal $vertical $blur $color;
}
