// ----- Typography  ----- //
%bold-sm
	+font-size(14)
	font-weight: 700
	color: $dark-grey


// ----- Display  ----- //

//display: inline
%d-i
	display: inline

// display: inline-block
%d-i-b
	display: inline-block

// display: inline-block
%d-f
	display: flex

// display: block
%d-b
	display: block

// display: none
%d-n
	display: none


// ----- Float  ----- //
// float: left
.f-l
	float: left

// float: right
.f-r
	float: right

